# Framework principal
fastapi
uvicorn

# Base de datos
sqlalchemy

# Manejo de variables de entorno
python-dotenv==1.0.1

# Fechas y tiempos
pytz

# Requests para APIs externas
requests

# Google Generative AI
google-generativeai

# Cohere AI
cohere

# Pydantic para validaciones
pydantic
