blinker
cachelib
certifi
charset-normalizer
click
colorama
Flask
Flask-Caching
idna
itsdangerous
Jinja2
MarkupSafe
psycopg2-binary
requests
urllib3
Werkzeug
uvicorn[standard]
fastapi
pytz
asteval
cohere
pokebase
wikipedia-api
scikit-learn
SQLAlchemy
google-api-core
grpcio
grpcio-status
google-ai-generativelanguage
google-generativeai

